   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a style="margin-left: 20px; color: #3a87ad;" class="brand" href="/">graphicbaseball</a>
          <h5 class="charttitle"></h5>
        </div>
      </div>
    </div>
    


<div class="row">
      <div class="span3">
             <h6>Standing Charts:</h6>
				<span class="label label-info"><a style="color:#fff;" href="/mlb2012">2012</a></span>
				</br>
				<span class="label label-info"><a style="color:#fff;" href="/mlb2011">2011</a></span>
				</br>
				<span class="label label-info"><a style="color:#fff;" href="/mlb2010">2010</a></span>
				</br>
				<span class="label label-info"><a style="color:#fff;" href="/mlb2009">2009</a></span>
				</br>
				<span class="label label-info"><a style="color:#fff;" href="/mlb2008">2008</a></span>
				</br></br></br></br>
      </div>
      <div class="span3">
      		 <h6>Parallel Coordinates:</h6>
      		 	<span class="label label-info"><a style="color:#fff; font-size: 12px;" href="/parallel">2012 Batting</a></span>


      </div>
      
</div>

