
<div class="row">
      <div class="span3">
             <h6>Standing Charts:</h6>
				<span class="label label-info"><a style="color:#fff;" href="/mlb2012">2012</a></span>
				</br>
				<span class="label label-info"><a style="color:#fff;" href="/mlb2011">2011</a></span>
				</br>
				<span class="label label-info"><a style="color:#fff;" href="/mlb2010">2010</a></span>
				</br>
				<span class="label label-info"><a style="color:#fff;" href="/mlb2009">2009</a></span>
				</br>
				<span class="label label-info"><a style="color:#fff;" href="/mlb2008">2008</a></span>
				</br></br></br></br>
      </div>
      <div class="span3">
      		 <h6>Parallel Coordinates:</h6>
      		 	<span class="label label-info"><a style="color:#fff; font-size: 12px;" href="/parallel">2012 Batting</a></span>


      </div>
      
</div>

