
</br></br>
<span class="label label-info"><a style="color:#fff" href="/mlb2012">2012 Standings Chart</a></span>
</br></br>
<span class="label label-info"><a style="color:#fff" href="/mlb2011">2011 Standings Chart</a></span>
</br></br></br></br></br></br>