
<h6>Standings Charts:</h6>
<span class="label label-info"><a style="color:#fff" href="/mlb2012">2012</a></span>
</br>
<span class="label label-info"><a style="color:#fff" href="/mlb2011">2011</a></span>
</br>
<span class="label label-info"><a style="color:#fff" href="/mlb2010">2010</a></span>
</br>
<span class="label label-info"><a style="color:#fff" href="/mlb2009">2009</a></span>
</br>
<span class="label label-info"><a style="color:#fff" href="/mlb2008">2008</a></span>
</br></br></br>